<!DOCTYPE html>
<html>
	<head>
		<title>IPFS Explorer</title>
		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
		<script src="/node_modules/jquery/dist/jquery.min.js"></script>
		<link rel="stylesheet" href="/node_modules/tingle.js/dist/tingle.min.css">
		<script src="/node_modules/tingle.js/dist/tingle.min.js"></script>
		<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/node_modules/backgrid/lib/backgrid.css"/>
		<script src="/node_modules/underscore/underscore-min.js"></script>
		<script src="/node_modules/backbone/backbone-min.js"></script>
    	<script src="/node_modules/backgrid/lib/backgrid.js"></script>
		<link href="/css/uploadbutton.css" rel="stylesheet">
		<script src="/js/uploadbutton.js"></script>
		<link href="/css/main.css" rel="stylesheet">
		<script src="/js/FileSaver.min.js"></script>
		<script src="/js/main.js"></script>
	</head>
	<body>
		<div>
			<h1>IPFS Explorer</h1>
		</div>
		<div id="div-upload">
			<div class="fileupload fileupload-new" data-provides="fileupload">
			    <span class="btn btn-primary btn-file">
			    <span class="fileupload-new">Choose a file</span>
			    <span class="fileupload-exists">Change file</span>
			    <input id="in-file" type="file"/></span>
			    <span class="fileupload-preview"></span>
			    <a href="#" id="dismiss-in-file" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
 			</div>
 			<button id="btn-file-submit" class="btn btn-info">Upload</button>
		</div>
		<div id="view-downloadables"></div>
	</body>
</html>